# Ignore OS files
.DS_Store
Thumbs.db
*.crdownload
*.tmp

# Scratch & temporary test scripts
scratch/

# Ignore session & local database dumps
*.sqlite
*.log
config/db_local.php

# Ignore IDE settings
.idea/
.vscode/
